@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('/img/background_flowers.png');
  background-repeat: no-repeat;
  background-position: 200px 0;
  background-attachment: fixed;
}

.heading {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  color: #515076;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 110px;
}

.product {
  width: 1110px;
  margin: 0 auto 116px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.product_card {
  width: 340px;
  padding: 25px;
  background-color: #f7f7fa;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product_image {
  width: 290px;
  margin-bottom: 30px;
}

.product_type {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 5px;
  color: #a5a3b9;
}

.product_subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  margin-bottom: 5px;
}

.product_desc {
  margin-bottom: 15px;
}

.text_main {
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.product_list-title {
  margin-bottom: 5px;
}

.product_list {
  padding-left: 15px;
  margin-bottom: 25px;
}

.product_list-item {
  padding-bottom: 5px;
}

.product_price-block {
  display: flex;
  justify-content: space-between;
}

.product_price-name {
  font-weight: 700;
  color: #515076;
  font-size: 20px;
  line-height: 24px;
}

.product_price {
  font-weight: 400;
  color: #515076;
  font-size: 20px;
  line-height: 24px;
}
